*{
padding:0px;
}
nav{
	background: linear-gradient(90deg, #141e30, #243b55);
	padding:5px;
}

ul{
	color:red;
	list-style:none;
	display:flex;
	gap:10px;
	padding:0;
	margin:0;	
	
}


li a{
	text-decoration:none;		
	color:white;
	display:inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	padding:10px 20px;
	border-radius:8px;

	
}
li a:hover{
	background-color: #00c6ff;
	color:black;
	transform: translateY(-3px);
}
.box{
background-color:#1e293b;
display:inline-block;
width:350px;
height:350px;
margin:10px;
}
.box:hover{
	transform: translateY(-10px);
}

.image{
	text-align:center;
}

.image img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}

.heading{
color:#00c6ff;;
text-align:center;
}
.content{
margin:20px;
color:red;
}



.button a{
text-decoration:none;
color:white;
padding:10px;
margin:10px;
background-color:#00c6ff;
border-radius:10px;
}
.button a:hover{
background-color:#0284c7;
color:white;
}
.button{
background-color:#243b55;
height:40px;
}
.all{
text-align:center;
}

/*-----Lets Go With CSS__-----*/
.homecontent{
background-color:grey;
height:70%;
width:50%;
}

/*--Image Grid of image page--*/
.imagegrid{
background-color:grey;
height:100%;
width:100%;
margin-top:5px;
}
.subimage{
height:300px;
width:300px;
background-color:black;
margin:10px;
display:inline-block;
}

/* membership page*/
.table{
margin:10px;

}

/*game list class of game page */
.gamelist{
height:300px;
width:300px;
background-color:black;
margin:10px;
display:inline-block;
}

.gamelistimage {
text-align:center;

margin: 10;

}

.gamelist1{
padding:10px;
text-align:center;

}

.gamelist1 a{
color:red;
background-color:yellow;
text-align:center;
margin:10;
padding:5px;
}
.gamelist1 a:hover{
background-color:green;
}